<!DOCTYPE html>
<html>
	<head>
		 <title>{{bucketname}}</title>
		 
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		 <script>
			 function makeGif(filename, bucketname, url, id){
				text = $('#'+id).val()
				$.ajax({
				  url: url,
				  data: JSON.stringify({"bucket": bucketname, "file":filename, "text":text}),
				  contentType: "application/json; charset=utf-8",
    			  dataType: "json",
				  type: "POST",
				  success: function() { alert('Success!'); },
				  error: function(xhr, status, error) {
  				var err = eval("(" + xhr.responseText + ")");
  				alert(err.Message);
}
			   });
			   return false;
			 }
		 </script>	 
	</head>
<body>
	<h1>{{bucketname}}</h1>

	<tr><td>
  <select name="color" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
		<option value="">Select...</option>
  	{% for bucket in buckets %}
   		<option value='http://{{host}}/{{bucket}}/show_all_videos'> {{bucket}} </option>
	{% endfor %}
</select>
</td></tr>

	<form action=display>
                        <input type="submit" value="Display GIFs">
        </form>

                        <input type="text" placeholder="Insert text here" id='allgif'/>
                        <br/>
                        <button onClick="makeGif('','{{bucketname}}','{{make_all}}','allgif')">Make gifs for all</button>

        <div class="grid-container">
                {% for filename, bucketname, url  in listrender %}
                <div class="grid-item">
                <li>{{ filename }}</li>
                        <input type="text" placeholder="Insert text here" id='input-text{{loop.index}}'/>
                        <br/>
                        <button onClick="makeGif('{{filename}}','{{bucketname}}','{{url}}','input-text{{loop.index}}')">make gif</button>
                </div>
                {% endfor %}
	</div> 

	</body>
</html>

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>