<!DOCTYPE html>
<html>
	<head>
		 <title>Lamp</title>
		 
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		 <script>
			 function makeGif(filename, bucketname, url){
				// alert(filename+bucketname+url)
				// $.post(url,{"bucket": bucketname, "file": filename, "text": ""}, (onSuccess) => {
				// 	alert(JSON.stringify(onSuccess))	
				// });
				$.ajax({
				  url: url,
				//   headers: {"bucket": "boat", "file":"video-1.mp4", "text":"uno"},
				  data: JSON.stringify({"bucket": bucketname, "file":filename, "text":"uno"}),
				  contentType: "application/json; charset=utf-8",
    			  dataType: "json",
				  type: "POST",
				  success: function() { alert('Success!'); }
			   })
			 }
		 </script>	 
	</head>
<body>
	<h1>{{bucketname}}</h1>
	<form action=display>
			<input type="submit" value="Display GIFs">
	</form>
	<form action={{example}}>
			<button onClick="makeGif('','{{bucketname}}','{{url}}')">Make GIFs for all</button>
	</form> 
	<div class="grid-container">
		{% for filename, bucketname, url  in listrender %}
		<div class="grid-item">
		<li>{{ filename }}</li>

			 <button onClick="makeGif('{{filename}}','{{bucketname}}','{{url}}')">make</button>
		</div>
		{% endfor %}
	</div> 

	</body>
</html>

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>